@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$background-color: rgb(44, 50, 61);
$light-gray-color: rgba(185, 185, 185, 0.133);
$link-color: rgba(216, 214, 214, 0.479);
$link-color-hover: rgb(230, 230, 230);

$font-logo: 'Sacramento',
cursive;
$font-header: 'Oswald',
sans-serif;
$font-text: 'Source Sans Pro',
sans-serif;

$tag-fz1: 100%;
$tag-fz2: 115%;
$tag-fz3: 135%;
$tag-fz4: 160%;
$tag-fz5: 190%;
$tag-fz6: 230%;

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: $background-color;
    font-family: $font-text;
    color: $color-light;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 600;

    span {
        text-transform: none;
        font-weight: 400;
        color: lighten($color-dark, 20%);
    }
}

/* Layout */

.wrapper {
    display: flex;
    margin-left: 10px;
}

.sidebar {
    flex: 1 0 0;
}

.posts {
    flex: 2 0 0;
}

.sidebar,
.posts {
    background: $background-color;
    margin-right: 10px;
    padding: 40px;
    border: 2px solid $light-gray-color;
    border-radius: 5px;
}

/* Logo */

.logo {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 104px;
    line-height: 1;
    text-align: center;
    color: $link-color-hover;
}

/* Lists */

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;


    .active {
        font-weight: bold;
    }
}

.list-horizontal {
    li {
        display: inline-block;
    }
}

.titles li a,
.sidebar a {
    color: $link-color;
    text-decoration: none;
}

.titles li a:hover,
.sidebar a:hover {
    font-weight: bold;
    color: $link-color-hover;
}

/* Authors */

.authors {
    li {
        margin-bottom: 12px;
        color: $link-color;
    }
}

/* Post */

.post {
    display: none;

    &.active {
        display: block;
    }
}

.post-author {
    font-style: italic;
    color: $link-color;
}

.post-author a {
    color: $link-color;
    text-decoration: none;
}

.post-tags {
    display: flex;

    p {
        margin: 0 10px 0 0;
    }

    a {
        color: $link-color;
        text-decoration: none;
    }

    a:hover {
        font-weight: bold;
        color: $link-color-hover;
    }
}

/* Tags */

.tags li {
    display: inline-block;
    line-height: normal;
}

.tag-size-1 {
    font-size: $tag-fz1;
}

.tag-size-2 {
    font-size: $tag-fz2;
}

.tag-size-3 {
    font-size: $tag-fz3;
}

.tag-size-4 {
    font-size: $tag-fz4;
}

.tag-size-5 {
    font-size: $tag-fz5;
}

.tag-size-6 {
    font-size: $tag-fz6;
}